{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% if user.is_created %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info">
    {{message}}
</div>
{% endfor %}
{% endif %}
{% endif %}

{% block content %}
<div class="content-section container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
            <small class="text-muted ml-2">
                <a href="#">Forgot Password</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            Or forgot your password ? <a href="{% url 'password_reset' %}">Reset now</a>
        </small>
    </div>
</div>
{% endblock %}
</body>
</html>