{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>

{% block content %}

<body>
<br>

<div class="container">
    <form method="post">
        {% csrf_token %}
            <legend class="border-bottom mb-4">Reset Password</legend>
            <h5>We will send a password reset link to your email</h5>
            <p>Please confirm your email below</p>
            {{ form.as_p }}
        <button class="btn btn-outline-info" type="submit">Request Password</button>
    </form>
</div>


</body>

{% endblock  %}

</html>